@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kaushan+Script&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family:"androd ";
    src: url("../Oswald-VariableFont_wght.ttf") format("opentype");
    font-weight:normal;
}

:root{
    --cor1:#F23030;
    --cor2:#F28705;
    --cor3:#E3371E;
    --cor4:#F2CB05;
    --cor5:#878787;
    --cor6:#103778;
    --cor7:#00747C;
    --cor8:#B4CF66;
    --cor9:#44803F;
    --cor10:#FF4858;
    --fonte-padrao:"owald",arial,verdana,helvetica,sans-serif;
    --fonte-destaque: "Work Sans", serif;
    --fonte-androd:"androd", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}



body{
    background-color: rgb(131, 199, 176);
    font-family: var(--fonte-padrao);
    margin: auto;
    border-radius: 40px;
  
   
}
a.externo::after{
    content:"\00a0\1F517" ;
}

header{
    background-image: linear-gradient(to bottom,var(--cor10),var(--cor2));
    min-height: 150px;
    padding-top: 40px;
}
header > h1{
    color: rgba(0, 0, 255, 0.911);
    font-family: var(--fonte-padrao);
    text-align: center;
    margin-bottom: 10px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px  rgba(0, 0, 0, 0.568);
    }
header > p {
     color:white;
     font-family: var(--fonte-destaque);
     font-size: 1.2em;
     text-align: center;
     max-width:600px;
     padding-right: 10px;
     padding-left: 10px;
     margin: auto;
     margin-bottom: 20px;
      text-shadow: 2px 2px  rgba0, 0, 0, 0.;
      
 }    



nav {
    background-color: #3ecdf8b4;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.274);
}
   
    

nav > a{
    color: rgb(131, 28, 28);
    padding: 10px;
    text-decoration: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;

}
nav > a:hover{
    background-color: var(--cor6);
    color: black;
}
main {
    background-color:rgba(245, 208, 2, 0.473);
    min-width:280px;
    max-width: 1000px;
    margin: auto;
    padding:10px;
    border-radius: 10px;
   
} 


main h1{
     color: rgb(45, 3, 83);
     font-weight: normal;
     font-family: 'Courier New', Courier, monospace;
     font-size: 1.8em;
}
main h2 {
    font-family: var(--fonte-androd);
    color: #040111;
    font-weight: normal;
    font-size: 1.3em;
    background-image: linear-gradient(to right,var(--cor2),transparent);
    text-indent: 8px;
}
main p {
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong {
     
     font-weight: bold;
    
     padding: 2px 6px;
}
main a {
    text-decoration: none;
    font-weight: bold;
    color:black;
    background-color: var(--cor9);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: rgb(29, 41, 27);
}
main image{
    width: 100%;

}
div.video{
    background-color: #08040480;
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 30px;
    padding-bottom: 56%;
    position: relative;
}
div.video >iframe{
    position:absolute;
    top:5% ;
    left: 5%;
    width:90% ;
    height: 90%;
}
main img.pequena{
   
   
    max-width: 350px; 
    display: block;
    margin: auto;

}
aside{
    background-color: #b5cf66a4;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.342);
}
aside > h3{
    background-color: var(--cor9);
    color: #130e0e;
    padding:10px;
    margin: -10px -10px 0px -10px ;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: "\2714\00a0\00a0";
    list-style-position: inside;
    columns: 2;
}


footer {
    background-image: linear-gradient(to bottom,var(--cor7),var(--cor2));
    color:black;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer >p > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a :hover{
    text-decoration: underline;
    color: #F23030;
}